

	<header class="whiteBg">
		
		<div class="container">

			<nav class="nav">
				<div class="logo">
					<h2 class="logoGrad">SUBAPPI</h2>
				</div>

				<div class="menu-info">
					<ul>
						<li class="color"><a href="#">¿Cómo funciona?</a></li>
					</ul>
				</div>

				<div class="menu">
					<ul>
						<li class="color"><a href="#">Inicio</a></li>
						<li class="color"><a href="#">Perfil</a></li>
						<li class="color credito"><a href="#">$500</a></li>
						<li class="color"><a href="#" class="btn btn-primary btn-menu white">Compra créditos</a></li>
					</ul>
				</div>
			</nav>

			
			<div class="cta-auth">
					
				<div class="row">

					<div class="col-md-8 col-xs-12">
						<h2>El que no oferta<br> ¡no ganga!</h2>
					</div>
					
				</div>
				
			</div>

		</div>

	</header>

	<section class="subastas">
		
		<div class="container">

			<div class="row" style="display: flex;align-items: center;margin:3rem 0;">
				
				<div class="col-lg-5 col-md-6 col-xs-12"><h3>Busque una subasta y dé la mejor puja</h3></div>

				<div class="col-lg-7 col-md-6 col-xs-12">
					
					<form action="get">
						<div class="row" style="display: flex;align-items: center;margin:3rem 0;">
							<div class="col-md-7">
								<select class="form-control" value="automovil">
									<option selected disabled="">Seleccione una categoría</option>
									<option value="automovil">Automóviles</option>
									<option value="electronica">Electrónica</option>
									<option value="moda">Moda</option>
								</select>
							</div>
							<div class="col-md-5">
								<input type="submit" value="Buscar" class="form-control btn btn-card">
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/lap.jpg" alt="Lap">
					  <div class="card-body">
					    <h4 class="timer">0:00:00:09</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">johnnyphocker</h4>
					    	<p>$351.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/car.jpg" alt="car">
					  <div class="card-body">
					    <h4 class="timer">0:00:01:46</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">hackberto</h4>
					    	<p>$4897.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/ipod.jpg" alt="ipod">
					  <div class="card-body">
					    <h4 class="timer">0:04:52:07</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">frank-the-tank</h4>
					    	<p>$136.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/samsung.jpg" alt="Samsung">
					  <div class="card-body">
					    <h4 class="timer">0:05:12:04</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">onene</h4>
					    	<p>$37.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/bag.jpg" alt="bag">
					  <div class="card-body">
					    <h4 class="timer green">0:16:48:23</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">alinatrix</h4>
					    	<p>$8.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="img/tennis.jpg" alt="tennis">
					  <div class="card-body">
					    <h4 class="timer green">1:05:09:12</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">maximoto</h4>
					    	<p>$2.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

			</div>

		</div>

	</section>

	

	<section class="info">
		
		<div class="container">

			<div class="row title">
				<div class="col-xs-12 center">
					<h2>¡Es tiempo de jugar!</h2>
					<p>Haz tu subasta y sube de nivel.</p>
					<a href="#" class="btn btn-primary btnCta btn-card" data-toggle="modal" data-target="#nuevaSubasta">Subastar</a>
				</div>
			</div>

			<div class="modal" id="nuevaSubasta" tabindex="-1" role="dialog" aria-labelledby="exampleModalVerticalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<h5 class="modal-title" id="exampleModalVerticalLabel">Nueva subasta</h5>
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          		<span aria-hidden="true">&times;</span>
				        	</button>
				      	</div>
				      	<div class="modal-body">
				        	<form action="post" class="form-group" enctype="multipart/data">

								
								<input type="text" placeholder="Título de la subasta" class="form-control">			
								
								<select class="form-control" value="automovil">
									<option value="automovil">Automóviles</option>
									<option value="electronica" selected>Electrónica</option>
									<option value="moda">Moda</option>
								</select>
								<input type="time" class="form-control" style="height: 100px">
								
								<input type="number" placeholder="Valor de la puja" class="form-control">

								<textarea rows="3" placeholder="Descripción del producto" class="form-control"></textarea>

								<input type="file" class="form-control-file" multiple>
								




				        	</form>
				      	</div>
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				        	<button type="button" class="btn btn-primary">¡Subastar!</button>
				      	</div>
				    </div>
				</div>
			</div>

		</div>

	</section>

	<footer>
		<p>Todos los derechos reservados ©SUBAPPI 2018</p>
	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
