<h2>Sign up</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="Your username"/>
    <input type="email" name="email" placeholder="Your email" />
    <input type="password" name="password" placeholder="Your password"/>
    <input type="password" name="password2" placeholder="Your password again"/>
    <input type="submit"/>
</form>