


	<header>
		
		<div class="container">
			
			<div class="background"></div>
			<nav class="nav">
				<div class="logo">
					<h2>SUBAPPI</h2>
				</div>

				<div class="menu-info">
					<ul>
						<li><a href="#">¿Cómo funciona?</a></li>
						<li><a href="#">Conócenos</a></li>
					</ul>
				</div>

				<div class="menu">
					<ul>
						<li class="color"><a href="#" id="a-iniciarSesion">Iniciar sesión</a></li>
						<li class="color"><a href="#" class="hidden" id="a-registrate">Regístrate</a></li>
					</ul>
				</div>
			</nav>

			
			<div class="banner">
				
				<div class="container">
					
					<div class="row">
						<div class="col-md-8 col-xs-12">
							<h1>Las mejores<br> subastas del<br> mercado</h1>
							<p>Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit, sed diam nonum</p>
						</div>
						<div id="signup-div" class="col-md-4 col-xs-12 signup">
							<h3>Regístrate</h3>
							<span>o <a href="#">inicia sesión en tu cuenta</a></span>
							<form id="form-Signup" action="/signup" class="form-group" method="POST">
								<input type="text" class="form-control" placeholder="Nombre" name='name'>
								<input type="text" class="form-control" placeholder="Apellído" name='lastName'>
								<input type="text" class="form-control" placeholder="Email" name='email'>
								<input type="password" class="form-control" placeholder="Contraseña" name='password'>
								<input type="password" class="form-control" placeholder="Repita su contraseña" name='password2'>
								<input type="checkbox" class="form-check-input-lg">
								<span>Acepto las <a href="#">Condiciones de SUBAPPI</a></span>
								<input type="submit" value="Enviar" class="btn btn-primary btn-card">
							</form>
						</div>
						<div id="login-div" class="col-md-4 col-xs-12 hidden">
							<h3>Inicia sesión</h3>
							<span>o <a href="#">regístrate</a></span>
							<form id="form-login" action="/login" class="form-group" method="POST">
								<input type="email" class="form-control" placeholder="Email" name="email">
								<input type="password" class="form-control" placeholder="Contraseña" name="password">
								<input type="submit" value="Entrar" class="btn btn-primary btn-card">
							</form>
						</div>
					</div>
				
				</div>

			</div>

		</div>

	</header>

	<section class="subastas">
		
		<div class="container">

			<div class="row title">
				<div class="col-xs-12 text-center">
					<h2>A la 1, a las 2, a las 3... ¡Vendido!</h2>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/lap.jpg" alt="Lap">
					  <div class="card-body">
					    <h4 class="timer">0:00:00:09</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">johnnyphocker</h4>
					    	<p>$351.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/car.jpg" alt="car">
					  <div class="card-body">
					    <h4 class="timer">0:00:01:46</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">hackberto</h4>
					    	<p>$4897.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/ipod.jpg" alt="ipod">
					  <div class="card-body">
					    <h4 class="timer">0:04:52:07</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">frank-the-tank</h4>
					    	<p>$136.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/samsung.jpg" alt="Samsung">
					  <div class="card-body">
					    <h4 class="timer">0:05:12:04</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">onene</h4>
					    	<p>$37.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/bag.jpg" alt="bag">
					  <div class="card-body">
					    <h4 class="timer green">0:16:48:23</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">alinatrix</h4>
					    	<p>$8.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					
					<div class="card">
					  <img class="card-img-top" src="./images/tennis.jpg" alt="tennis">
					  <div class="card-body">
					    <h4 class="timer green">1:05:09:12</h4>
					    <div class="card-lider">
					    	<h4 class="card-title">maximoto</h4>
					    	<p>$2.00</p>
					    </div>
					    <p class="card-text">
					      Some quick example text to build on the card title
					      and make up the bulk of the card's content.
					    </p>
					    <a href="#!" class="btn btn-primary btn-card">ver oferta</a>
					  </div>
					</div>

				</div>

			</div>

		</div>

	</section>

	<section class="cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
					<h3>¡OFERTA Y GANA!</h3>
					<p>La mejor manera de ofrecer y adquirir productos online.</p>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
					<a href="#" class="btn btn-primary btnCta btn-card">Saber más</a>
				</div>
			</div>
		</div>
	</section>

	<section class="info">
		
		<div class="container">
			
			<div class="row title">
				<div class="col-xs-12 text-center">
					<h2>Estás a punto de llevar las subastas al siguiente nivel. </h2>
				</div>
			</div>

			<div class="row bases">
				
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<img src="./images/rocket.svg" alt="rocket">
					<h3>CREA TU CUENTA</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum</p>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<img src="./images/money.svg" alt="money">
					<h3>CONSIGUE CRÉDITOS</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum</p>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<img src="./images/juega.svg" alt="juega">
					<h3>JUEGA</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum</p>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<img src="./images/premio.svg" alt="premio">
					<h3>RECLAMA TU PREMIO</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum</p>
				</div>

			</div>

			<div class="row title">
				<div class="col-xs-12 center">
					<h2>¡así de sencillo!</h2>
					<p>Ahora sólo faltas tú. Sé el mejor postor.</p>
					<a href="#" class="btn btn-primary btnCta btn-card">Le quiero entrar</a>
				</div>
			</div>

		</div>

	</section>

	<footer>
		<p>Todos los derechos reservados ©SUBAPPI 2018</p>
	</footer>

	  <script src='/javascripts/script-index.js'></script>

	