@font-face {
  font-family: bebas;
  src: url(../fonts/BebasNeue_0.otf); }

html, body {
  padding: 0;
  margin: 0;
  font-size: 10px; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #1ab7b3, #345191);
  position: relative; }

.background {
  width: 40%;
  height: 100vh;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0; }

nav {
  height: 6rem;
  border-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin: 0 auto; }

.logo {
  flex-grow: 1; }

.menu-info {
  flex-grow: 20; }

.menu {
  flex-grow: 1;
  z-index: 999; }

nav .logo h2 {
  font-family: bebas;
  padding: 1rem;
  font-size: 6.5rem;
  color: white; }

nav .menu-info ul li, nav .menu ul li {
  display: inline;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-left: 1.5rem; }

nav .menu-info ul li a {
  color: white; }

li.color a {
  color: #4d4d4d !important; }

header .banner {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center; }

header .banner h1 {
  font-family: bebas;
  font-size: 8.7rem;
  color: white;
  line-height: 8rem; }

header .banner p {
  color: white;
  font-size: 2.4rem;
  line-height: normal;
  font-weight: 100; }

header .banner .signup {
  background-color: white; }

header input[type='text'], header input[type='password'], header input[type='checkbox'] {
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.4rem; }

.banner .signup span {
  color: #5b5b5f;
  font-size: 1.4rem;
  margin-top: 1.3rem; }

.subastas {
  width: 100%;
  padding-bottom: 8rem; }

.title {
  padding: 8rem 0 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.title h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 5.1rem; }

.card .timer {
  color: #f41c06;
  text-align: center;
  font-family: bebas;
  font-size: 5rem; }

.card .green {
  color: #1b8c23; }

.card .card-text {
  text-align: center;
  padding: 1rem 0 2rem 0; }

.card .card-title {
  margin: 1rem 0 2rem 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.card {
  border: 1px solid #345191;
  margin-top: 1.5rem; }

.card img {
  border-bottom: 1px solid #345191;
  border-top: 10px solid #345191; }

.btn-card {
  background-color: #345191;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 2rem;
  border: none; }

.form-group .btn-card {
  margin-top: 1.5rem; }

.card-lider {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card-lider p {
  font-family: bebas;
  font-size: 3rem;
  color: #f41c06; }

.login {
  display: none; }

.hidden {
  display: none; }

.cta {
  background-color: rgba(0, 113, 188, 0.1);
  height: 32rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cta h3 {
  font-family: bebas;
  font-weight: bold;
  color: #d4145a;
  font-size: 8rem; }

.cta p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.btnCta {
  background-color: #2e6caf;
  padding: 3rem 4rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  text-align: center;
  margin-top: 2rem; }

.btnCta:hover {
  color: white;
  text-decoration: none; }

.info h3 {
  font-size: 3rem;
  color: #2e6caf;
  text-align: center;
  font-family: bebas; }

.info p {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.info img {
  display: block;
  width: 30%;
  margin: 0 auto 2rem auto; }

.info .bases {
  margin: 0 0 6rem 0; }

.info .sencillo {
  display: block; }

.info .center h2 {
  text-align: center;
  font-family: bebas;
  color: #0071bc;
  font-size: 8rem; }

.info .center p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.8rem; }

footer {
  margin-top: 8rem;
  height: 8rem;
  color: white;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.4rem; }

.btn-menu {
  padding: 1.2rem 1.8rem;
  background-color: #0071bc;
  font-size: 1.8rem;
  font-weight: 100; }

header.portada-usuario {
  width: 100%;
  height: 40rem;
  background: linear-gradient(135deg, #74479b, #ff4d4d);
  /*background: #b8d3e6;*/ }

.tabs {
  position: absolute;
  bottom: -0.1rem;
  font-size: 1.8rem; }

.tabs ul li a {
  padding: 1rem 4rem;
  margin: 0 0.5rem;
  color: white; }

.tabs ul li a:hover {
  padding: 1rem 4rem;
  margin: 0 0.5rem;
  background-color: #2e6caf; }

.tabs .nav-link {
  background-color: #345191; }

.profilePic img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin-top: 7.5rem; }

.profilePic h2 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 2.8rem;
  margin-top: 9.5rem; }

.profilePic p {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 1.8rem; }

.usuario .profilePic a {
  font-family: 'Roboto', sans-serif;
  text-align: left !important;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 1rem 2.5rem; }

.perfil {
  font-size: 1.8rem;
  padding: 8rem 0; }

.perfil p {
  line-height: 1.8rem; }

.perfil-aside span {
  font-size: 1.4rem;
  color: #aaa; }

.level span {
  font-size: 1.4rem;
  color: #aaa;
  line-height: 1rem; }

.card.level {
  padding: 2rem;
  border: 1px solid #eee; }

.alerta {
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }

.fas {
  color: #ffce00; }

.fas.rating-low {
  color: #eee; }

.subasta-finalizada {
  color: #ccc !important; }

.card.mis-productos {
  border: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem; }

.card-body {
  width: 100% !important; }

.mis-productos h3 {
  font-weight: 300; }

.modal input[type="text"], .modal input[type="number"], .modal textarea, input[type="time"] {
  padding: 1rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: #555; }

input[type="time"] {
  height: 50px !important; }

select.form-control {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  color: #555;
  padding: 1rem; }

select.form-control:not([size]):not([multiple]) {
  height: 50px; }

.modal button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 0.8rem 2rem; }

.form-control-file {
  font-size: 1.8rem;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

li.color a.white {
  color: white !important;
  margin-left: 2rem; }

.color.white a {
  color: white !important; }

.color.white a.auction-menu {
  color: white !important; }

h2.color-logo {
  color: #345191 !important; }

header.auction {
  background: white;
  height: 100%; }

.galeria, .tabla-lider {
  margin-top: 8rem; }

.galeria .card, .tabla-lider .card {
  border: 1px solid #ddd; }

.galeria .card img, .tabla-lider .card img {
  border: none; }

.carousel-control-prev:hover {
  left: 0;
  background-color: rgba(1, 1, 1, 0.5); }

.carousel-control-next:hover {
  right: 0;
  background-color: rgba(1, 1, 1, 0.5); }

.lider {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0; }

.card-info-subasta {
  margin-top: 1rem; }

.card-info-subasta .nav-link {
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.card-info-subasta {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif; }

.card-info-subasta table thead tr th {
  border-top: none; }

.card-info-subasta .table-active {
  background-color: #345191;
  color: white; }

.card-info-subasta .tab-pane {
  margin-top: 3rem;
  font-weight: 300; }

.heart {
  font-size: 2.4rem;
  cursor: pointer; }

.unfollowing {
  color: gray; }

.following {
  color: red; }

.heart i {
  font-size: 2.4rem; }

.tooltip {
  font-size: 1.2rem; }

.form-comments input[type="text"] {
  height: 5rem;
  font-size: 1.4rem; }

.card.form-comments, .card.comments {
  border: none; }

.form-comments label {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.comments h4 {
  font-family: 'Roboto', sans-serif; }

.comments p {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.credito {
  pointer-events: none; }

.credito a {
  font-family: bebas;
  font-size: 2.8rem; }

.red {
  color: red; }

.whiteBg {
  background: white;
  height: auto; }

.logo h2.logoGrad {
  background: linear-gradient(to right, #f2de95, #dc47a7, #386382, #44457e);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.cta-auth {
  margin-top: 8rem;
  background: url("http://res.cloudinary.com/otnielitowsky/image/upload/v1525967579/banner-subastas.jpg");
  background-size: cover;
  color: white; }

.cta-auth h2 {
  padding: 6rem 3rem;
  font-family: bebas;
  font-size: 6.8rem;
  line-height: 6.4rem; }

.info .center p {
  line-height: normal;
  margin: 2rem 0 4rem 0; }

.media img {
  width: 50px;
  border-top: none; }

.media p {
  font-size: 1.4rem; }

/*# sourceMappingURL=style.css.map */